{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

    {% block content %}
        <h2>This is a Home Page</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque consectetur, quidem vel nobis esse laudantium excepturi at corrupti a praesentium non, ex, quibusdam cum ratione repellat cumque architecto deleniti quo!
        Numquam mollitia libero harum? Distinctio sed repellat deleniti quo et libero necessitatibus eveniet sequi doloremque deserunt exercitationem, consequatur numquam fuga quis animi totam aliquid, cum fugiat, eaque quisquam. Eligendi, beatae.</p>
    {% endblock  %}

    